{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
{% if menu %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    
  {% for menu in menu %}
    <div class="col">
      <div class="card h-100 text-center mb-3">
        <div class="card-header">
          <strong class="text-body-secondary">{{ menu.item }}</strong>
        </div>
        <a href="{% url 'menu_item' menu.id %}">
          <img src="{{ menu.imageURL }}" class="card-img-bottom" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ menu.price }}/=</h5>
          <p class="card-text">{{ menu.description }}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">order</a>
        </div>
      </div>
    </div>
  {% endfor %}
  
</div>
{% endif %}

{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>

{% endif %}

{% endblock %}
