{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
{% if menu %}
<div class="row">
    
{% for menu in menu %}
<div class="col-sm-4 mb-3 mb-sm-0">
<div class="card" style="width: 18rem;">
  <img src="{{ menu.imageURL }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ menu.item }} {{ menu.price }}/=</h5>
    <p class="card-text">{{ menu.description }}</p>
    <a href="#" class="btn btn-primary">order</a>
  </div>
</div>
</div>
{% endfor %}
  
</div>
{% endif %}

{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>

{% endif %}

{% endblock %}
