{% extends 'base.html' %}

{% block content %}

<!-- {% if user.is_authenticated %} -->
<!-- <br /> -->
<!-- {% else %} -->

<div class="col-md-6 offset-md-3">
  <h1>Login</h1>
  <br />

  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}

    <div class="mb-3">
      <input type="text" class="form-control" name="username" , placeholder="Username" required>

    </div><br />
    <div class="mb-3">
      <input type="password" class="form-control" name="password" , placeholder="Password" required>
    </div>
    <br />
    <a href="{% url 'home' %}" class="btn btn-md btn-success me-2">back</a>
    <button type="submit" class="btn btn-secondary">Login</button>

  </form>

  <!-- {% endif %} -->

  {% endblock %}
